In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import MultiLabelBinarizer
 
testdata = pd.DataFrame({'pet': ['cat', 'dog', 'dog', 'fish'],'age': [4 , 6, 3, 3],
'salary':[4, 5, 1, 1]})

In [3]:
OneHotEncoder(sparse = False).fit_transform( testdata['age'] )

ValueError: Expected 2D array, got 1D array instead:
array=[4 6 3 3].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [9]:
OneHotEncoder(sparse = False).fit_transform(testdata[['age']])

array([[0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [6]:
testdata[['age']]

   age
0    4
1    6
2    3
3    3

In [11]:
import argparse

In [31]:
import pandas as pd

a=['小红','小绿','小蓝','小白','小青','小紫','小粉','小傻','小红','小绿','小蓝','小白','小青','小紫','小粉','小傻','小红','小绿','小蓝','小白','小青','小紫','小粉','小傻']
b=['语文','语文','语文','语文','语文','语文','语文','语文','数学','数学','数学','数学','数学','数学','数学','数学','英语','英语','英语','英语','英语','英语','英语','英语']
c=[97,65,23,43,67,23,55,98,56,45,67,78,98,45,87,65,67,23,55,98,56,45,67,78]
len(a),len(b),len(c)

df=pd.DataFrame({'name':a,'kemu':b,'score':c})

df2=df.sort_values(['kemu','score','name'], ascending=[1, 0,1])

df2['rn']=df2.groupby(['kemu'])['score'].rank(method='first',ascending =0)

df2[df2['rn']<=5]

   name kemu  score   rn
12   小青   数学     98  1.0
14   小粉   数学     87  2.0
11   小白   数学     78  3.0
10   小蓝   数学     67  4.0
15   小傻   数学     65  5.0
19   小白   英语     98  1.0
23   小傻   英语     78  2.0
22   小粉   英语     67  3.0
16   小红   英语     67  4.0
20   小青   英语     56  5.0
7    小傻   语文     98  1.0
0    小红   语文     97  2.0
4    小青   语文     67  3.0
1    小绿   语文     65  4.0
6    小粉   语文     55  5.0

In [21]:
df=pd.DataFrame({'name':a,'kemu':b,'score':c})

df2=df.sort_values(['kemu','score','name'], ascending=[1, 0,1])
df2['rn']=df2.groupby('kemu').rank(method='first',ascending =0)['score']
df2

   name kemu  score   rn
12   小青   数学     98  1.0
14   小粉   数学     87  2.0
11   小白   数学     78  3.0
10   小蓝   数学     67  4.0
15   小傻   数学     65  5.0
8    小红   数学     56  6.0
13   小紫   数学     45  7.0
9    小绿   数学     45  8.0
19   小白   英语     98  1.0
23   小傻   英语     78  2.0
22   小粉   英语     67  3.0
16   小红   英语     67  4.0
20   小青   英语     56  5.0
18   小蓝   英语     55  6.0
21   小紫   英语     45  7.0
17   小绿   英语     23  8.0
7    小傻   语文     98  1.0
0    小红   语文     97  2.0
4    小青   语文     67  3.0
1    小绿   语文     65  4.0
6    小粉   语文     55  5.0
3    小白   语文     43  6.0
5    小紫   语文     23  7.0
2    小蓝   语文     23  8.0

In [27]:
df2['rn']=df2.groupby('kemu').rank(method='first',ascending =0)
df2['rn']

12    1.0
14    2.0
11    3.0
10    4.0
15    5.0
8     6.0
13    7.0
9     8.0
19    1.0
23    2.0
22    3.0
16    4.0
20    5.0
18    6.0
21    7.0
17    8.0
7     1.0
0     2.0
4     3.0
1     4.0
6     5.0
3     6.0
5     7.0
2     8.0
Name: rn, dtype: float64